<footer>
  <mat-card>
    <div class="row">
      <div class="row-item">
        <a href="https://www.facebook.com/MyJobsMyanmar" target="_blank">
          <i class="fa fa-lg fa-facebook-square"></i>Our Facebook
        </a>
      </div>
      <div class="row-item">
        <a href="#" onclick="window.location.href='/en/contacts-us'">
          <i class="fa fa-lg fa-phone-square"></i>Contact us
        </a>
      </div>
      <div class="row-item">
        <a href="#" onclick="window.location.href='/en/employers'">
          <i class="fa fa-lg fa-suitcase"></i>Employers
        </a>
      </div>
      <div class="row-item">
        <a href="https://www.iubenda.com/privacy-policy/7853587/legal">
          <i class="fa fa-lg fa-lock"></i>Privacy Policy
        </a>
      </div>
      <div class="row-item">
        <a href="#" onclick="window.location.href='/en/company/myjobs-recruitment/61950'" class="myjobs-icon">
          <img src="/assets/cacheable/images/myJobs-icon.png" style="width: 17px; height: 17px;">&nbsp;MyJobs careers
        </a>
      </div>
      <div class="row-item">
        <a href="https://www.courses.com.mm/en/">
          <i class="fa fa-lg fa-leanpub"></i>Courses.com.mm
        </a>
      </div>
    </div>
    <div class="row">
      <div class="row-copyRight">
        <span data-copyright="">© Copyright 2018 MyJobs &amp; MyJob Myanmar. All Rights Reserved.</span>
      </div>
    </div>
  </mat-card>
</footer>
